body{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#hp{
	background-color: red;
	opacity: 1;
	position: absolute;
	z-index: 3;
	padding: 0px;
	margin: 0px;
	left: 2px;
	top: 2px;
}

#hpbg{
	background-color: #e5e4e0;
	border: 2px solid black;
	border-radius: 8px;
	opacity: 1;
	position: absolute;
	z-index: 2;
}

#gameWindow{
	z-index: 1;
}

.inventorySlot{
	background-color: #e5e4e0;
	border: 2px solid #000000;
	border-radius: 8px;
	opacity: 0.6;
	position: absolute;
	z-index: 3;
	max-width: 64px;
	max-height: 64px;
}

.inventorySlot p {
	position: absolute;
	z-index: 5;
	color: black;
	padding: 2px;
	margin: 0px;
	font-family: 'Helvetica', Sans-serif;
}

.invIcon{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	padding: 0px;
	margin: 0px;	
}