#inventoryBG{
	background-color: #d8c5a0;
	border: 2px solid #d8c5a0;
	border-radius: 8px;
	opacity: 0.5;
	position: absolute;
	z-index: 2;
	width: 60%;
	max-width: 576px;
	max-height: 64px;
}

#gameWindow{
	z-index: 1;
}