body{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#youdied{
	border: 2px solid #000000;
	border-radius: 8px;
	background-color: #e5e4e0;
	opacity: 0.8;
	position: absolute;
	width: 40%;
/*	height: 15%;*/
	z-index: 2;
	left: 20%;
	top: 30%;
}

#youdiedtitle{
	text-align: center;
	color: red;
	font-family: 'Helvetica', Sans-serif;
	font-size: 3em;
/*	height: 20%;*/
	padding-top: 4px;
	margin-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#respawntime{
	text-align: center;
	color: black;
	position: relative;
	font-family: 'Helvetica', Sans-serif;
	font-size: 1em;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-top: 0px;
	margin-top: 0px;
}

#hp{
	background-color: red;
	opacity: 1;
	position: absolute;
	z-index: 3;
	padding: 0px;
	margin: 0px;
	left: 2px;
	top: 2px;
}

#hpbg{
	background-color: #e5e4e0;
	border: 2px solid black;
	border-radius: 8px;
	opacity: 1;
	position: absolute;
	z-index: 2;
}

#gameWindow{
	z-index: 1;
}

.inventorySlot{
	background-color: #e5e4e0;
	border: 2px solid #000000;
	border-radius: 8px;
	opacity: 0.6;
	position: absolute;
	z-index: 3;
	max-width: 64px;
	max-height: 64px;
}

.inventorySlot p {
	position: absolute;
	z-index: 5;
	color: black;
	padding: 2px;
	margin: 0px;
	font-family: 'Helvetica', Sans-serif;
}

.invIcon{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 4;
	padding: 0px;
	margin: 0px;	
}